    /* * {
    margin: 0;
    padding: 0;
    flex-direction: column;
}

div {
    width: 50%;
    height: 250px;
}

.primer-cuadro {
    background: purple;
    float: left;
}

.segundo-cuadro {
    background: lightblue;
    float: right;
}

.tercer-cuadro {
    background: lightcoral;
    float: left;
}

.cuarto-cuadro {
    background: sandybrown;
    float: right;
} */
    
    * {
        margin: 0;
    }
    
    body {
        width: 100vw;
        height: 100vh;
        background: beige;
        color: white;
    }
    
    .cuadro {
        width: 100px;
        height: 100px;
        position: absolute;
    }
    
    .izquierda {
        left: 0;
    }
    
    .derecha {
        right: 0;
    }
    
    .primer-cuadro {
        background: red;
        top: 0;
    }
    
    .segundo-cuadro {
        background: yellowgreen;
        bottom: 0;
    }
    
    .tercer-cuadro {
        background: salmon;
        top: 0;
    }
    
    .cuarto-cuadro {
        background: slateblue;
        bottom: 0;
    }